# allow scrolling in tmux
set -g mouse on
# don't rename windows automatically
set-option -g allow-rename off
set allow-rename off
# key bindings
set-option -g prefix C-a
unbind-key C-b
bind-key C-a send-prefix
# Start windows and panes index at 1, not 0.
set -g base-index 1
setw -g pane-base-index 1
# Ensure window index numbers get reordered on delete.
set-option -g renumber-windows on
# add keys on demand
bind-key k display-popup -E "bash ~/scripts/ssh/agent"
